# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
.Python

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# macOS
.DS_Store
